
h3 {
  text-align: center;
}

body{
  background-color: lavender;
}

td{
  width: 500px;
  text-align: center;
}

img {
  width: 350px;
}

.theater {
  border-style: dashed;
  border-color: purple;
  border-width: medium;
}
